server:
  port: 0

spring:
  application:
    name: user-service

  security:
    user:
      name: ${SECURITY_USER_NAME}
      password: ${SECURITY_USER_PASSWORD}

  datasource:
    url: jdbc:mysql://localhost:3306/user
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

  output:
    ansi:
      enabled: "always"

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

token:
  secret: ${TOKEN_SECRET}
  expiration-time: ${TOKEN_EXPIRATION_TIME}
